.side-icon{
    padding: 0px;
}

.bg{
    background: rgb(36,228,231);
    background: linear-gradient(0deg, rgba(36,228,231,1) 0%, rgba(21,137,214,1) 49%, rgba(0,82,144,1) 100%);
}

.icon {
    margin-bottom: 16px;
}

.history-list {
    margin: 16px 32px;
}

.list-item {
    margin-bottom: 0px;
}

router-link{
    text-decoration: underline;
}