.side-icon{
    padding: 0px;
}

.bg{
    /* background: rgb(36,228,231);
    background: linear-gradient(0deg, rgba(36,228,231,1) 0%, rgba(21,137,214,1) 49%, rgba(0,82,144,1) 100%); */
    /* background: #172A3A; */
    background: #2C4B61; 
    /* background: #74B3CE; */
    /* background: #2C4B61 ; */

}

.icon {
    margin-bottom: 16px;
}

.whiteText {
    color: #D8D8D8 !important;

}
.pinkText {
    color: #B53055;

}
.mintText {
    color: #68B0AB;

}
.coralText {
    color: #DD6A6E;
}

.purpleText {
    color: #456990;

}

.border {
    margin: 16px 32px;
}

.list-item {
    margin-bottom: 0px;
}

.link {
    text-decoration: none;
}

router-link{
    text-decoration: underline;
}

.topbar h1{
    padding: 0;
    margin-top: 16px;
    margin-bottom: 0;
    color: #172A3A;
}


.home-card h1{
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;

}

.centered{
    text-align: center;
    align-self: center;
    align-content: center;
}

.ColDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.ColDisplayElem{
    flex: 1 1 150px;
}

.ColDisplayElemNS{
    flex: 0 1 150px;
}

.setSize{
    min-height: 400px;
    font-size: 11pt;
}

.deck-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e5e9ec;
    overflow: hidden;
}

#deck-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }